.formField {
    display: flex;
    flex-direction: column;
}

.label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.value {
    font-weight: 500;
}

.sliderLegend {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 80%;
}
